<nav>
    <div class="nav-container">
        <div class="logo-primary-nav-holder">
            <div class="logo-div">
                <img src="../../../assets/images/Logo.png" class="logo-image" alt="logo image" routerLink="">
            </div>
            <div class="primary-nav">
                <a class="bold nav-font-size">Home</a>
                <a class="bold nav-font-size">Faculdades</a>
                <a class="bold nav-font-size">Universitários</a>
                <a class="bold nav-font-size">Destaque-se</a>
            </div>
        </div>
        
        <!--testing -->
        <div class="secundary-nav">
            <a class="bold nav-font-size">Entrar</a>
            <a class="bold nav-font-size">Registrar-se</a>
            <a class="bold nav-font-size">Anuncie</a>
        </div>
    </div>
    
    git pull origin front-end

</nav>
<!--<div class="menu-holder">
        <div class="row">
            <mat-icon>menu</mat-icon>
            <mat-icon>notifications</mat-icon>
            <img class="image" src="../../../assets/images/Person image.png" alt="">
        </div>
    </div>-->